<h2>Gestion des Formateurs</h2>

<div>
  <input [(ngModel)]="newFormateur.nom" placeholder="Nom">
  <input [(ngModel)]="newFormateur.specialite" placeholder="Spécialité">

  <button *ngIf="!isEdit" (click)="add()">Ajouter</button>
  <button *ngIf="isEdit" (click)="update()">Modifier</button>
</div>

<hr>

<ul>
  <li *ngFor="let f of formateurs">
    {{ f.nom }} - {{ f.specialite }}

    <button (click)="edit(f)">Modifier</button>
    <button (click)="delete(f.id)">Supprimer</button>
  </li>
</ul>
